@model List<MVC_Adjacency_list_model.ViewModels.CategoryCarrierViewModel>


<h2>Index at Category</h2>

@*@foreach (var item in Model)
    {

        <ul>
            <li>
                @Html.DisplayFor(modelItem => item.Name)
                @Html.ActionLink("Rename", "Rename", "Category", new { id = item.ID }, null) |
                @Html.ActionLink("Delete By Id", "DeleteById", "Category", new { id = item.ID }, null) |
                @Html.ActionLink("Delete By Name", "DeleteByName", "Category", new { id = item.ID }, null) |
                @Html.ActionLink("Insert Inside", "InsertInside", "Category", new { id = item.ID }, null) |
                @Html.ActionLink("Insert Next To", "InsertNextTo", "Category", new { id = item.ID }, null)
            </li>
        </ul>
    }*@



<hr />




@helper TreeView(List<MVC_Adjacency_list_model.ViewModels.CategoryCarrierViewModel> categoryTree)
{
    if (categoryTree.Count() > 0)
    {
        @:<ul>
            foreach (var item in categoryTree)
            {

                @*jeśli obiekt głębiej istnieje*@
                if (item != null)
                {
                    @*Wyświetla name*@
                    <li>
                        @item.Name
                        @*@DisplayMenu(item);*@
                    </li>
                    @*sprawdza dalej*@
                    @TreeView(item.deeperList)
                }
            }
        @:</ul>
    }

}






@helper DisplayMenu(MVC_Adjacency_list_model.ViewModels.CategoryCarrierViewModel item)
{
    @Html.ActionLink("(Rename)", "Rename", "Category", new { id = item.ID }, null)
    @Html.ActionLink("(Delete By Id)", "DeleteById", "Category", new { id = item.ID }, null)
    @*@Html.ActionLink("Delete By Name", "DeleteByName", "Category", new { id = item.ID }, null)*@
    @Html.ActionLink("(Insert Inside)", "InsertInside", "Category", new { id = item.ID }, null)
    @Html.ActionLink("(Insert Next To)", "InsertNextTo", "Category", new { id = item.ID }, null)
}






<ul id="categorytree">
    @*pierwszy poziom*@
    @foreach (var item in Model)
    {
        <li>
            @item.Name
            @*@DisplayMenu(item);*@
        </li>
        @TreeView(item.deeperList)
    }
</ul>

@section scripts
{
    <script>
    </script>
}