@model MVC_Adjacency_list_model.Models.Category

@{
    ViewBag.Title = "New Category";
}

<h2>Add new node to "@Model.Name". </h2>
<hr />

@using (Html.BeginForm("NewCategory", "Category"))
{
    Model.Name = "";
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>




    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/Category" class="btn btn-primary">Cancel</a>
}



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}