@model List<MVC_Adjacency_list_model.ViewModels.NestedCategoriesViewModel>
@{
    ViewBag.Title = "Tree";
}

@helper TreeView(List<MVC_Adjacency_list_model.ViewModels.NestedCategoriesViewModel> categoryTree, int depth)
{
    string typeClass = null;
    if (categoryTree.Count() > 0)
    {
        depth++;
        @:<ul>
            foreach (var item in categoryTree)
            {
                //jeśli jest liściem
                if (item.deeperList.Count == 0)
                {
                    typeClass = "leaf";
                }
                else
                {
                    typeClass = "node";
                }
                <li class="@typeClass" order="database" data-my-content="@item.Name" data-my-level="@depth">
                    @item.Name@DisplayMenu(item)
                    @TreeView(item.deeperList, depth)
                </li>
            }
        @:</ul>
    }

}

@helper DisplayMenu(MVC_Adjacency_list_model.ViewModels.NestedCategoriesViewModel item)
{
    <div style="display: inline-block;" class="display-menu">
        @if (item.deeperList.Count > 1)
        {
            <a class="small-font sortButton" title="sort">[sort]</a>
        }
    </div>
}

<h2>Here is your DB structure as a tree!</h2>
<hr />

<div id="menu" order="random">
    <a title="Toggle" id="toggleAllButton">[Toggle all]</a>
    <a title="Sort All" id="sortAllButton">[Sort all]</a>
</div>

<div id="listDiv" style="font-size:large">
    @TreeView(Model, 0)
</div>




@section scripts
{
    @Scripts.Render("~/bundles/TreeScripts")
}
