@model List<MVC_Adjacency_list_model.ViewModels.NestedCategoriesViewModel>
@{
    ViewBag.Title = "Tree";
}

@helper TreeView(List<MVC_Adjacency_list_model.ViewModels.NestedCategoriesViewModel> categoryTree, int depth)
{
    string typeClass = null;
    if (categoryTree.Count() > 0)
    {
        depth++;
        @:<ul>
            foreach (var item in categoryTree)
            {
                //jeśli jest liściem
                if (item.deeperList.Count == 0)
                {
                    typeClass = "leaf";
                }
                else
                {
                    typeClass = "node";
                }
                <li class="@typeClass" data-my-content="@item.Name" data-my-level="@depth">@item.Name@DisplayMenu(item)@*sprawdza dalej*@@TreeView(item.deeperList, depth)</li>
            }
        @:</ul>
    }

}

@helper DisplayMenu(MVC_Adjacency_list_model.ViewModels.NestedCategoriesViewModel item)
{
    <div style="display: inline-block;" class="display-menu">
        @*RENAME BUTTON*@
        @Html.ActionLink("✏️  ", "RenameCategory", "Category", new { id = item.ID }, new { @class = "small-font", title = "Rename" })

        @*DELETE BUTTON*@
        <a class="small-font" title="Delete" href="javascript:deleteCategory(@item.ID);">🗑️</a>

        @*//NEW_NODE BUTTON*@
        @Html.ActionLink("➕  ", "NewCategory", "Category", new { id = item.ID }, new { @class = "small-font", title = "Add new" })

        @*//SORT BUTTON*@
        @if (item.deeperList.Count > 1)
        {
            <a class="small-font newClick" title="sort">[sort]</a>
        }
    </div>
}

<h2>Here is your DB structure as a tree!</h2>
<hr />
<a href="/Category/MoveCategory" class="btn btn-primary" style="padding: 5px 5px; font-size:x-small">Move category</a>

@Html.ActionLink("➕  ", "NewCategory", "Category", new { id = 1 }, new { title = "New Root Category" })
<a title="Toggle" id="toggleButton">[Toggle all]</a>
@*USE HELPER TO DISPLAY LIST*@
<div id="listDiv" style="font-size:large">
    @TreeView(Model, 0)
</div>




@section scripts
{
    @Scripts.Render("~/bundles/TreeScripts")
}
